<div class="container">
  <h1>bentranter.io</h1>

  <h2>Posts</h2>

  <a href="/2016/09/04/deploy-ghost-with-caddy"><time class="post-date" datetime="2016-09-04">04 September 2016</time> &ndash; Deploying Ghost With Caddy</a>
</div>
